<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap'); * {
  font-family: 'Nunito Sans', sans-serif; }
</style>

<p>Hi
  {{firstName}},
</p>

<p>We are very happy to meet you. To continue and verify your account, please
  proceed to the link below. Do not share the link to anyone.</p>
<br />
<p><i>Verification URL: <a href='{{verificationUrl}}'></a></i></p>

<p>Thanks!</p>
SkyChat Team